{% import "components/page-heading.html" as page_heading %}
{% macro page_image(image, image_alt, image_attribution=false, title=false, overlay_title=false, title_color='#17183b', image_fade=0) %}
{% set c = 'c-page-image' %}
{% if title and not overlay_title %}
  {{ page_heading::page_heading(title=title) }}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="{{c}}-group">
        <div class="{{c}}{% if image_fade > 0 %} {{c}}--faded{% endif %}{% if title and overlay_title %} {{c}}--overlay{% endif %} animate" style="--page-image-title-color: {{ title_color }}; --page-image-fade: {{ image_fade }}">
          <img loading="lazy" src="{{ get_url(path=image) }}" alt="{{ image_alt }}">
          {% if title and overlay_title %}
          <h1 class="{{c}}__title">{{ title }}</h1>
          {% endif %}
        </div>
        {% if image_attribution %}
        <div class="{{c}}__attribution">
          {{ image_attribution | safe }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro page_image %}
