{% macro team_card(data) %}
{% set c = 'c-testimonial-card' %}
<div class="{{c}} team-member">
  <div class="{{c}}__content">
    <div class="{{c}}__client-meta">
      {% if data.extra.image %}
        <div class="{{c}}__image-container">
          <img class="{{c}}__client-avatar" src="{{ get_url(path=data.extra.image) }}" alt="{{ data.extra.name }}">
        </div>
      {% endif %}
      <div class="{{c}}__client-info">
        {% if data.extra.name %}
          <h3 class="{{c}}__client-name">{{ data.extra.name }}</h3>
        {% endif %}
        {% if data.extra.position %}
          <p class="{{c}}__client-position">{{ data.extra.position }}</p>
        {% endif %}
      </div>
    </div>
    {% if data.extra.blurb %}
      <p class="{{c}}__client-text team-member__blurb">{{ data.extra.blurb }}</p>
    {% endif %}
  </div>
</div>
{% endmacro team_card %}

